$black  : rgba(8, 8, 8, 1);
$white  : rgba(248, 248, 248, 1);
$blue   : rgba(0, 165, 211, 1);
$purple : rgba(92, 46, 128, 1);
$pink   : rgba(238, 57, 128, 1);
$yellow : rgba(255, 202, 8, 1);

$border-width: 6px;

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.reveal .slides .twitter-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  
  background: $white;
  border: $border-width solid $black;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: $black;

  & fieldset legend {
    display: none;
  }

  &__header {
    font-size: 3rem;
    color: $white;

    background: $purple;
    border-bottom: $border-width solid $black;

    padding: 16px;
  }

  &__body {
    font-size: 2rem;

    padding: 16px;
  }

  &__footer {
    font-size: 2rem;
    color: $white;

    background: $blue;
    border-top: $border-width solid $black;

    padding: 16px;

    & a {
      color: $yellow;
      border-bottom:$border-width solid transparent;
      text-decoration: none;

      &:hover {
        color: $purple;
        border-bottom-color: $yellow;
      }
    }
  }

  & label {
    display: none;
  }

  & .frm__control {
    margin-bottom: 16px;
  }

  & .txt {

    border:$border-width solid $black;
    background: $white;
    color: $black;

    font-size: 2rem;

    padding: 8px 16px;

    outline: none;

    &:focus {
      border-color: $pink;
    }
  }

  & .btn {
    border:$border-width solid $black;
    background: $pink;
    color: $white;

    font-size: 2rem;

    cursor: hand;
    cursor: pointer;

    padding: 8px 16px;

    &:hover {
      background-color: $blue;
    }
  }

}

.reveal .tweet {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  
  background: $white;
  border: $border-width solid $black;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: $black;

  &__left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 24%;

    border-right: $border-width solid $black;

    overflow: hidden;
  }

  &__right {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 76%;
    overflow: hidden;
  }

  &__picture {
    position: relative;
    flex-basis: 70%;

    border-bottom: $border-width solid $black;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: hue-rotate(-15deg);
    }

  }

  &__meta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-basis: 30%;

    background: $blue;

    font-size: 2rem;

    &__retweet {
      flex-basis: 50%;

      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      padding: 8px;

      border-right:$border-width solid $black;
    }

    &__loves {
      flex-basis: 50%;

      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      padding: 8px;
    }
  }

  &__text {
    flex-basis: 70%;

    font-size: 3rem;

    padding: 16px;

    & a {
      color: $pink;
      text-decoration: none;
      border-bottom: $border-width solid transparent;

      &:hover {
        color: $blue;
        border-bottom-color: $pink;
      }
    }
  }

  &__user {
    flex-basis: 30%;

    font-size: 3rem;
    color: $white;

    background: $purple;
    border-bottom: $border-width solid $black;

    padding: 16px;
  }

}

.slide-background {
  position: relative;

  &:after {
    content: '';

    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;

    background-image: url('pa.png'), linear-gradient(to right, $blue, $yellow, $pink);
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: center center, left, right;
  }
}